mat-sidenav {
  background: #FF6600;
}

.title-game {
  color: #FF6600;
  font-family: "BebasNeueRegular";
  font-size: 200%;
  font-style: normal;
  font-weight: bold;
}
.side-nav {
  display: flex;
  justify-content: space-between;
}
.mat-drawer-container {
  height: 100vh;
}
@media (max-width: 410px) {
  .title-game {
    font-size: 100%;
  }
}
